.head {
    color: black;
    font-weight: 700;
    margin: 5px;
    font-size: 15px;
    width: 175px;
}
ion-item {
    border-radius: 6px;
    background-color: #f8f8f8;

    ion-label {
        color: grey;
    }
}

.body {
    margin-top: 20px;
    width: 100%;
    background-color: white;
    min-height: 100%;
    border-radius: 6px;

    ion-col {
        color: black;
        font-size: 15px;
        padding: 10px;
    }
    ion-label {
        margin-top: 5px;
    }
}

.buttons {
    margin-left: 10%;
    margin-right: 10%;
}

ion-button#bgred{
    margin-left: auto;
    margin-right: auto;
    --background: #e61818;
  }

ion-button#bgblue{
    margin-left: auto;
    margin-right: auto;
    --background: rgb(0, 0, 255)
  }
