<ion-content>
  <app-tpl-page title="Cadangan" isBack="true">
    <ng-template tplPage>

      <div class="form">
        <ion-grid class="head">
          <ion-row>
            <ion-col>
              Cadangan :
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-item>
          <ion-label position="floating">Cadangan Anda...</ion-label>
          <ion-textarea type="string"></ion-textarea>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col>
              <span style="color:rgb(214, 66, 66)">* Jumlah maksimum cadangan yang dibenarkan adalah 500 aksara</span>
            </ion-col>
          </ion-row>
        </ion-grid>

        <br>
        <div class="buttons">

          <ion-button id="bgred" shape="round" expand="block">Set Semula</ion-button>
          <ion-button id="bgblue" shape="round" expand="block">Hantar</ion-button>
        </div>

      </div>
    </ng-template>
  </app-tpl-page>
</ion-content>
