<ion-content>
  <app-tpl-page title="Purchase Ticket" isBack="true">
    <ng-template tplPage>

      <div class="main-content ion-text-wrap ion-text-center">
        <hr>

        <ion-radio-group>
          <ion-row>
            <ion-item lines="none">
              <ion-label>One Way</ion-label>
              <ion-radio slot="start" value="one-way"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Return</ion-label>
              <ion-radio slot="start" value="return"></ion-radio>
            </ion-item>
          </ion-row>
        </ion-radio-group>

        <ion-list no-lines>
          <ion-item style="margin: 15px;">
            <ion-icon name="bus" color="primary" item-start></ion-icon>
            <ion-label position="stacked">From</ion-label>
            <ion-input></ion-input>
          </ion-item>

          <ion-item style="margin: 15px;">
            <ion-icon name="pin" color="primary" item-start></ion-icon>
            <ion-label position="stacked">To</ion-label>
              <ion-input></ion-input>
          </ion-item>

          <ion-item style="margin: 15px;">
            <ion-icon name="alarm" color="primary" item-start></ion-icon>
            <ion-label position="stacked">Departure Date</ion-label>
            <ion-input></ion-input>
          </ion-item>
          
          <ion-item style="margin: 15px;">
            <ion-icon name="alarm" color="primary" item-start></ion-icon>
            <ion-label position="stacked">Return Date</ion-label>
            <ion-input></ion-input>
          </ion-item>
          
            <ion-button full color="success">Search</ion-button>
    
        </ion-list>

        <ion-card (click)="chooseSeat()">
          <ion-grid>
            <ion-row>
              <ion-col size=8>
                <ion-label> Transnasional </ion-label> <br>
                <ion-label> 9:15pm </ion-label> <br>
                <ion-label> Kids : RM25 <br> Adult : RM30 </ion-label> <br>
                <ion-label> Total Seats : 30 </ion-label> <br>
                <ion-label> Vacant Seats : 15 </ion-label> <br>
              </ion-col>

              <ion-col size=4>
                <img src="assets/school-bus-vector-illustration-isolated-260nw-571415128.jpg" alt="">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

        <ion-card (click)="chooseSeat()">
          <ion-grid>
            <ion-row>
              <ion-col size=8>
                <ion-label> Transnasional </ion-label> <br>
                <ion-label> 9:15pm </ion-label> <br>
                <ion-label> Kids : RM25 <br> Adult : RM30 </ion-label> <br>
                <ion-label> Total Seats : 30 </ion-label> <br>
                <ion-label> Vacant Seats : 15 </ion-label> <br>
              </ion-col>

              <ion-col size=4>
                <img src="assets/school-bus-vector-illustration-isolated-260nw-571415128.jpg" alt="">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

        <ion-card (click)="chooseSeat()">
          <ion-grid>
            <ion-row>
              <ion-col size=8>
                <ion-label> Transnasional </ion-label> <br>
                <ion-label> 9:15pm </ion-label> <br>
                <ion-label> Kids : RM25 <br> Adult : RM30 </ion-label> <br>
                <ion-label> 30 seater </ion-label> <br>
                <ion-label> Available Seats : 15 </ion-label> <br>
              </ion-col>

              <ion-col size=4>
                <img src="assets/school-bus-vector-illustration-isolated-260nw-571415128.jpg" alt="">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>

    </ng-template>
  </app-tpl-page>
</ion-content>
<ion-router-outlet></ion-router-outlet>