<ion-content>
  <app-tpl-body title="Check In" isBack="true">
    <ng-template tplBody>

      <div class="status">
        <ion-card class="status">
          <ion-list>
            <ion-item lines="none">
              <ion-text class="start-item">Date</ion-text>
              <ion-label class="ion-text-wrap end-item">25 / 08 / 2020</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Ticket ID</ion-text>
              <ion-label class="ion-text-wrap end-item">KempenJomNaikTeksi102002</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Depart From</ion-text>
              <ion-label class="ion-text-wrap end-item">Terminal Bersepadu Selatan</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Destination</ion-text>
              <ion-label class="ion-text-wrap end-item">Tampin</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Bus Company</ion-text>
              <ion-label class="ion-text-wrap end-item">Transnational</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Fare</ion-text>
              <ion-label class="ion-text-wrap end-item">RM 33.50</ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
      </div>

      <!-- <ion-button (click)="" class="checkInButton" color="success"> </ion-button> -->

    </ng-template>
  </app-tpl-body>
</ion-content>

<ion-footer (click)="doneCheckIn()">
  <ion-toolbar color="success">
    <ion-title> Check In</ion-title>
  </ion-toolbar>
</ion-footer>