<div class="card-login">
  <ion-item lines="none" class="header-item" text-center>
    <h1 >Login</h1>
  </ion-item>
  <br>

  <ion-item lines="none" class="input-item">
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-input placeholder="email"></ion-input>
  </ion-item>
  <br>
  <ion-item lines="none" class="input-item">
    <ion-icon name="lock-closed" slot="start"></ion-icon>
    <ion-icon class="password" name="eye" slot="end" (click)="shownpassword()"></ion-icon>
    <ion-input class="password" id="password" [type]="passwordtype" placeholder="password">
    </ion-input>
  </ion-item>

  <br>
  <div class="buttons">
    <ion-button class="btnlogin" (click)="login()" shape="round">Sign In
    </ion-button>
    <ion-button expand="full" fill="clear" class="primary-text" routerLink="/auth/register">Sign Up
    </ion-button>
  </div>
</div>