<ion-content>
  <app-tpl-page title="Semakan Aduan" isBack="true">
    <ng-template tplPage>

      <ion-grid class="head">
        <ion-row>
          <ion-col>
            Semakan Status Aduan :
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-label>Dalam Tindakan</ion-label>
        <ion-select [(ngModel)]="status" placeholder="Status" (ionChange)="setSemakan(status)">
          <ion-select-option value="Aktif">Aktif</ion-select-option>
          <ion-select-option value="Selesai">Selesai</ion-select-option>
        </ion-select>
      </ion-item>
      <br>

      <ion-searchbar showCancelButton="never" (ionChange)="filter($event)"></ion-searchbar>


      <div *ngFor="let x of semakan">
        <ion-grid class="header">
          <ion-row>
            <ion-col>
              NO. LOG:
              <br>
              {{x.ticketnum}}
              
            </ion-col>
            <ion-label>
              <button ion-button-clear (click)="showHideButton(x);getAduan(x.ticketnum)"
                slot="end">{{showHideText(x)}}</button>
            </ion-label>
          </ion-row>
        </ion-grid>

        <ion-list class="data">
          <app-expandable [open]="x.isShow">
            <div sample>

              <ion-grid>
                <ion-row>
                  <ion-col>
                    TARIKH:
                  </ion-col>
                  <ion-label>
                    {{x.dtreceived}}
                  </ion-label>
                </ion-row>
              </ion-grid>

              <ion-grid>
                <ion-row>
                  <ion-col>
                    Status :
                  </ion-col>
                  <ion-label>
                    {{x.definasiuser}}
                  </ion-label>
                </ion-row>
              </ion-grid>


              <div *ngFor="let y of aduan">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      Tindakan :
                    </ion-col>
                    <ion-label>
                      {{y.actiontaken}}
                    </ion-label>
                  </ion-row>
                </ion-grid>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      Aduan :
                    </ion-col>
                    <ion-label>
                      {{y.probdesc}}
                    </ion-label>
                  </ion-row>
                </ion-grid>
              </div>

            </div>
          </app-expandable>
        </ion-list>
      </div>
      <br>

    </ng-template>
  </app-tpl-page>
</ion-content>
