<ion-content>
  <app-tpl-body title="Profil"  isBack="true">
    <ng-template tplBody>

      <ion-list class="smalldata">
        <ion-grid>
          <ion-row>
            <ion-col>
              No. KP
            </ion-col>

            <ion-label>
              931130-04-5473
            </ion-label>
          </ion-row>
        </ion-grid>
      </ion-list>


        <ion-list class="bigdata">
          <ion-grid>
            <ion-row>
              <ion-col>
                Alamat / Pejabat : 
              </ion-col>
  
              <ion-label>
                4265, Taman Clonlee,<br /> 
                73000 Tampin, <br />
                Negeri Sembilan. <br />
              </ion-label>
            </ion-row>
          </ion-grid>
      </ion-list> 

    </ng-template>
  </app-tpl-body>
</ion-content>