<ion-content>
  <app-tpl-page title="Semakan Status Aduan " isBack="true">
    <ng-template tplPage>

      <ion-grid class="header">
        <ion-row>
          <ion-col>
            Maklumat Aduan:
          </ion-col>
        </ion-row>
      </ion-grid>

      <div *ngFor="let x of aduan">
        <ion-list class="data">
            <div>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    Tindakan :
                  </ion-col>
                  <ion-label>
                    {{x.actiontaken}}
                  </ion-label>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    No.Log :
                  </ion-col>
                  <ion-label>
                    {{x.ticketnum}}
                  </ion-label>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    Status :
                  </ion-col>
                  <ion-label>
                    {{x.definasiuser}}
                  </ion-label>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    Aduan :
                  </ion-col>
                  <ion-label>
                    {{x.probdesc}}
                  </ion-label>
                </ion-row>
              </ion-grid>
            </div>
        </ion-list>

                  <ion-button id="bgblue" shape="round" expand="block" (click)="dismiss()">closed</ion-button>

      </div>

    </ng-template>
  </app-tpl-page>
</ion-content>