<ion-content>
  <app-tpl-page title="Aduan" isBack="true">
    <ng-template tplPage>

      <ion-grid class="head">
        <ion-row>
          <ion-col>
            Keterangan* :
          </ion-col>
        </ion-row>
      </ion-grid>

      <div>
        <ion-item>
          <ion-label position="floating">Aduan Anda...</ion-label>
          <ion-textarea type="string"></ion-textarea>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col>
              <span style="color:rgb(214, 66, 66)">* Jumlah maksimum cadangan yang dibenarkan adalah
                420 aksara</span>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="body">
          <ion-row>
            <ion-col>
              Untuk hantar lokasi semasa, sila tekan butang on
            </ion-col>
            <ion-label>
              <ion-toggle slot="end" (click)="getLocation()"></ion-toggle>
              <ion-input type="number" hidden></ion-input>
              <ion-input type="number" hidden></ion-input>
            </ion-label>
          </ion-row>

          <ion-row>
            <ion-label>
              <!-- Your location is : {{}} -->
            </ion-label>
          </ion-row>
        </ion-grid>

        <!-- <ion-card *ngIf="latitude">
            <ion-card-content>
                <li [(ngModel)]="form.lat" type="number" >
                Latitude : {{latitude}}
                <li [(ngModel)]="form.long" type="number">                     
                Longitude : {{longitude}}            
            </ion-card-content>
          </ion-card> -->

        <section>

          <ion-button size="large" (click)="takePicture('camera')">
            <ion-icon slot="start" name="camera"></ion-icon>
            Camera
          </ion-button>
          <!-- <ion-button size="large" (click)="takePicture('gallery')">
            <ion-icon slot="start" name="images-sharp"></ion-icon>
            Galeri
          </ion-button> -->

          <input type="file" *ngIf="isDesktop" formControlName="uploadfilename" #filePicker
            (change)="onFileChoose($event)" />

          <ion-card *ngIf="photo">
            <ion-card-content>
              <img [src]="photo">
            </ion-card-content>
          </ion-card>
        </section>

        <br>
        <div class="buttons">
          <ion-button id="bgblue" shape="round" expand="block" (click)="submit()">Hantar</ion-button>
        </div>
      </div>