<!-- <ion-content>
  <app-tpl-menu title="Transaction History" isBack="true">
    <ng-template tplmenu>

      <ion-card>
        <ion-item button>
          <ion-label class="ion-text-wrap">Date</ion-label>
          <ion-button slot="end">121212</ion-button>
        </ion-item>
        <ion-item button>
          <ion-label class="ion-text-wrap">Depart From</ion-label>
          <ion-button slot="end">121212</ion-button>
        </ion-item>
        <ion-item button>
          <ion-label class="ion-text-wrap">Destination</ion-label>
          <ion-button slot="end">121212</ion-button>
        </ion-item>
        <ion-item button>
          <ion-label class="ion-text-wrap">Company</ion-label>
          <ion-button slot="end">121212</ion-button>
        </ion-item>
        <ion-item button>
          <ion-label class="ion-text-wrap">Fare</ion-label>
          <ion-button slot="end">121212</ion-button>
        </ion-item>
        <ion-item button>
          <ion-label class="ion-text-wrap">Status</ion-label>
          <ion-button slot="end">121212</ion-button>
        </ion-item>
      </ion-card>
      
    </ng-template>
  </app-tpl-menu>
</ion-content> -->
<ion-content>
  <app-tpl-menu title="Transaction History" isBack="true">
    <ng-template tplMenu>

      <div class="status">
        <ion-card class="status">
          <ion-list>
            <ion-item lines="none">
              <ion-text class="start-item">Date</ion-text>
              <ion-label class="end-item">25 / 08 / 2020</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Depart From</ion-text>
              <ion-label class="ion-text-wrap end-item">Terminal Bersepadu Selatan</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Destination</ion-text>
              <ion-label class="end-item">Tampin</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Bus Company</ion-text>
              <ion-label class="end-item">Transnational</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Fare</ion-text>
              <ion-label class="end-item">RM 33.50</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Status</ion-text>
              <ion-label class="end-item">Paid</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Check In</ion-text>
              <ion-button (click)="goToBoarding()" slot="end" color="success" class="end-item">Check In</ion-button>
            </ion-item>
          </ion-list>
        </ion-card>
      </div>

      <div class="status">
        <ion-card class="status">
          <ion-list>
            <ion-item lines="none">
              <ion-text class="start-item">Date</ion-text>
              <ion-label class="end-item">25 / 08 / 2020</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Depart From</ion-text>
              <ion-label class="ion-text-wrap end-item">Terminal Bersepadu Selatan</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Destination</ion-text>
              <ion-label class="end-item">Tampin</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Bus Company</ion-text>
              <ion-label class="end-item">Transnational</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Fare</ion-text>
              <ion-label class="end-item">RM 33.50</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Status</ion-text>
              <ion-label class="end-item">Paid</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Check In</ion-text>
              <ion-button (click)="boardTheBus()" slot="end" color="success" class="end-item">Board The Bus</ion-button>
            </ion-item>
          </ion-list>
        </ion-card>
      </div>

      <div class="status">
        <ion-card class="status">
          <ion-list>
            <ion-item lines="none">
              <ion-text class="start-item">Date</ion-text>
              <ion-label class="end-item">25 / 08 / 2020</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Depart From</ion-text>
              <ion-label class="ion-text-wrap end-item">Terminal Bersepadu Selatan</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Destination</ion-text>
              <ion-label class="end-item">Tampin</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Bus Company</ion-text>
              <ion-label class="end-item">Transnational</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Fare</ion-text>
              <ion-label class="end-item">RM 33.50</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Status</ion-text>
              <ion-label class="end-item">Paid</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Check In</ion-text>
              <ion-button (click)="enRoute()" slot="end" color="success" class="end-item">en-route</ion-button>
            </ion-item>
          </ion-list>
        </ion-card>
      </div>

      <div class="status">
        <ion-card class="status">
          <ion-list>
            <ion-item lines="none">
              <ion-text class="start-item">Date</ion-text>
              <ion-label class="end-item">25 / 08 / 2020</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Depart From</ion-text>
              <ion-label class="ion-text-wrap end-item">Terminal Bersepadu Selatan</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Destination</ion-text>
              <ion-label class="end-item">Tampin</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Bus Company</ion-text>
              <ion-label class="end-item">Transnational</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Fare</ion-text>
              <ion-label class="end-item">RM 33.50</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Status</ion-text>
              <ion-label class="end-item">Paid</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Check In</ion-text>
              <ion-button slot="end" color="success" class="end-item">Trip Completed</ion-button>
            </ion-item>
          </ion-list>
        </ion-card>
      </div>



      <!-- <ion-infinite-scroll threshold="0px" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading customers...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll> -->

    </ng-template>
  </app-tpl-menu>
</ion-content>