.bgcolor {
    --background: var(--ion-color-primary);
    overflow: hidden !important;
}

h1 {
    margin-top: 10vh;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
}

// .back-button{
//     position: absolute;
//     top: 20px;
//     left: 20px;
//     color: white;
//     font-size: 3em;
//     cursor: pointer;
//     z-index: 9999;
// }
