
<ion-content class="bgcolor">
    <!-- <div class="back-button" routerLink="/main">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </div> -->  
    <ion-row>
        <ion-col size-sm="12">
            <h1>Road - X</h1>
        </ion-col>
    </ion-row>
</ion-content>
<ion-router-outlet></ion-router-outlet>