ion-content{
    padding: 0px;
  
  
    ion-list{
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
      border-radius: 4px;
      padding: 0px;
      margin-top: 5px;
      font-size: 15px;
    }
  }
  
  .smalldata{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    border-radius: 4px;
    padding-bottom: 0px;
  
    ion-grid{
      border-bottom: 2px solid var(--ion-color-tertiary);
      
      ion-col{
        font-weight: 500;
        padding: 15px;
        width: 80px;
      }
      ion-label{
        padding: 15px;
        text-align: left;
        width: auto;
        color: #8d8d8d;
      }
    }
  }
  