<ion-content>
  <app-tpl-page title="Tentang Kami" isBack="true">
    <ng-template tplPage>

      <ion-content fullscreen>
        <ion-list>
          <ion-item button (click)="showHideButton(profil)">
            <ion-icon slot="start" img src="assets/svg/maklumat_profil.svg"></ion-icon>
            <ion-label>
              <h3>About MyHRMIS Profil</h3>
            </ion-label>
          </ion-item>

          <div class="smalldata">
            <app-expandable [open]="profil.isShow">
              <div sample>
                <ion-grid>
                  <ion-row>
                    <ion-label>
                      Fungsi didalam aplikasi ini hanyalah papar rekod sahaja. Sebarang ketidaktepatan data dan
                      pengemaskinian perlu dilalukan didalam Aplikasi HRMIS
                    </ion-label>
                  </ion-row>
                </ion-grid>
              </div>
            </app-expandable>
          </div>
        </ion-list>

      </ion-content>


    </ng-template>
  </app-tpl-page>
</ion-content>
