<div class="card-login">
  <ion-item lines="none" class="header-item" text-center>
    <h1><ion-icon style="color: black;" name="chevron-back-outline" (click)="back()"></ion-icon> Register</h1>
  </ion-item>
  <br>
  <ion-item lines="none" class="input-item">
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-input placeholder="full name as in MyKAD" ></ion-input>
  </ion-item>
  <br>
  <ion-item lines="none" class="input-item">
    <ion-icon name="call" slot="start"></ion-icon>
    <ion-input placeholder="phone number"></ion-input>
  </ion-item>
  <br>
  <ion-item lines="none" class="input-item">
    <ion-icon name="mail" slot="start"></ion-icon>
    <ion-input placeholder="email"></ion-input>
  </ion-item>
  <br>
  <ion-item lines="none" class="input-item">
    <ion-icon name="lock-closed" slot="start"></ion-icon>
    <ion-icon class="password" name="eye" slot="end" (click)="shownpassword('passwordtype')"></ion-icon>
    <ion-input class="password" [type]="passwordtype" placeholder="password">
    </ion-input>
  </ion-item>
  <br>
  <ion-item lines="none" class="input-item">
    <ion-icon name="lock-closed" slot="start"></ion-icon>
    <ion-icon class="password" name="eye" slot="end" (click)="shownpassword('cpasswordtype')"></ion-icon>
    <ion-input class="password" [type]="cpasswordtype" placeholder="confirm password">
    </ion-input>
  </ion-item>

  <br>
  <div class="buttons">
    <ion-button class="btnlogin" shape="round">Sign Up
    </ion-button>
  </div>
</div>