

ion-icon {
  color: #757575;
}

.card-login {
  margin-top: 30vh;
  background-color: #f8f9f9;
  padding: 7vh 0;
  border-radius: 50px 50px 0 0;
  min-height: 70vh;
  overflow: scroll !important;
}


.header-item{
  --background: #f9f8f8;
  border-radius: 50px 50px 0 0;
}

.center {
  text-align: center;
  color: #be9e11;
  font-size: 1em;
  letter-spacing: 0.1em;
}

.btnlogin {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.logo {
  padding-left: 15%;
  padding-right: 15%;
}

.input-item {
  color: #000;
  margin-left: 10%;
  margin-right: 10%;
  --background: #eeeeee;
  border-radius: 30px !important;
  // border: 3px solid lightblue;

  ion-input {
    color: #000;
    border: none;
  }
}

.primary-text{
  color: var(--ion-color-primary);
}

#password,
#username {
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.buttons{
  margin-left: 10%;
  margin-right: 10%;
}
