.head{
    color: #1032B9;
    font-weight: 700;
    margin: 5px;
    font-size: 14px;
  }
  
  .header{
    padding: 10px; 
    background-color:rgb(164,164,164);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  }
  
  .smalldata{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    border-radius: 4px;
    padding-bottom: 0px;
  
    ion-grid{
      border-bottom: 2px solid var(--ion-color-tertiary);
      
      ion-col{
        font-weight: 500;
        padding: 15px;
        width: 80px;
      }
      ion-label{
        padding: 15px;
        text-align: left;
        width: 200px;
        color: #8d8d8d;
      }
    }
  }
  
  .bigdata {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
      rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    border-radius: 4px;
    padding-bottom: 0px;
    
    ion-grid {
      border-bottom: 2px solid var(--ion-color-tertiary);
      ion-col {
        font-weight: 500;
        padding: 15px;
        width: 100%;
  
      }
      ion-label {
        padding: 0px 15px 15px 15px;
        padding-top: 0px;
        color: #8d8d8d;
        width: 100%;
      }
    }
  }
  .core{
    margin: 20px;
  }
  
  ion-list{
    padding: 0px;
  }
  button{
    background: none;
    color: white;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
  
  }
   .modal-footer {
    //   position: absolute;
    position: fixed;
    width: 100%;
      border: 3px solid var(--ion-color-primary);
      background-color : var(--ion-color-primary);
      padding: 10px;
      bottom:0;
      text-align:center;
      font-size: 13px;
      color: white;
  }
  
  .qrcode{
    display:flex;
    justify-content: center;
    width: 100%;
    height: 57vh;
  }

  .done{
    display:flex;
    justify-content: center;
  }