<ion-content>
  <app-tpl-menu title="Board The Bus">
    <ng-template tplMenu>

      <ion-card>
        <img src="assets/QR_code.png" class="qrcode" alt="">
      </ion-card>

      <ion-button (click)="ok()"class="done" color="success"> Done </ion-button>

      <div style="position: relative">
        <label class="modal-footer">
          <strong>Do scan this QR code before boarding the bus.</strong>
        </label>
      </div>


    </ng-template>
  </app-tpl-menu>
</ion-content>