ion-label{
    padding-left: 30px;

}
ion-card-header{
  padding: 5px;
}
ion-card-title{
  font-size: 15px;
  padding: 5px;
}
ion-card-content{
  font-size: 15px;
  color: #B0B0B0;
  padding: 5px;
}

ion-card{
    margin-top: 30px;
}

ion-item{
  img{
    border-radius: 0px;
  }
}

.core{
  margin: 20px;
}