<ion-content>
  <app-tpl-body title="Pautan" isBack="true">
    <ng-template tplBody>

      <ion-card routerLink="/main/purchase-tickets">
        <ion-item lines="none">
          <ion-avatar>
            <!-- <ion-icon name="person-circle"></ion-icon> -->
            <img src="assets/svg/maklumat_profil.svg">
          </ion-avatar>
          <ion-label>Purchase Tickets</ion-label>
        </ion-item>
      </ion-card>

      <ion-card routerLink="/main/view-my-profile">
        <ion-item lines="none">
          <ion-avatar>
            <!-- <ion-icon name="person-circle"></ion-icon> -->
            <img src="assets/svg/eGL.svg">
          </ion-avatar>
          <ion-label>View My Profile</ion-label>
        </ion-item>
      </ion-card>

      <ion-card routerLink="/main/transaction-history">
        <ion-item lines="none">
          <ion-avatar>
            <!-- <ion-icon name="person-circle"></ion-icon> -->
            <img src="assets/svg/cuti.svg">
          </ion-avatar>
          <ion-label>Transaction History</ion-label>
        </ion-item>
      </ion-card>


    </ng-template>

  </app-tpl-body>
</ion-content>