<ion-content>
  <app-tpl-page title="En Route" isBack="true">
    <ng-template tplPage>
      
      <ion-grid class="head">
        <ion-row>
          <ion-col class="justify-content: space-between">
            Nota : 
          </ion-col>
        </ion-row>
      </ion-grid>

    </ng-template>
  </app-tpl-page>
</ion-content>