/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/fonts.scss";

iframe { overflow: hidden !important; }

span,
a,
span,
p,
ion-item,
ion-button,
h1,
h2,
ion-label,
ion-title,
ion-card-title,
ion-input,
div {
    font-family: "Oswald";
    letter-spacing: 0.2em;
}

.color-grey {
    color: #999999;
}

.color-app {
    color: #EB3349;
}

.app-font {
    font-family: "Oswald";
    letter-spacing: 0.2em;
}

.text-center {
    margin: auto;
    text-align: center;
}

.submissionModal .modal-wrapper {
    border-radius: 10px;
    margin-left: 1em;
    margin-right: 1em;
    min-height: 50vh;
    height: auto;
}

.pager-position-top {
    .swiper-pagination {
        top: 20px !important;
        bottom: inherit !important;
    }
}
.padding-t-10p {
    padding-top: 10px;
}

.padding-t-20p {
    padding-top: 20px;
}

.padding-t-30p {
    padding-top: 30px;
}

.padding-t-40p {
    padding-top: 40px;
}

.padding-t-50p {
    padding-top: 50px;
}

.padding-t-60p {
    padding-top: 60px;
}

.margin-t-10p {
    padding-top: 10px;
}

.margin-t-20p {
    padding-top: 20px;
}

.margin-t-30p {
    padding-top: 30px;
}

.margin-t-40p {
    padding-top: 40px;
}

.margin-t-50p {
    padding-top: 50px;
}

.margin-t-60p {
    padding-top: 60px;
}


body{
    background: white !important;
}

.modal-full-screen{
    width: 100% !important;
    height: 100vh !important;
}