<div class="content">
  <div class="header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()" *ngIf="isBack">
          <img class="back-icon" src="assets/svg/chevron-back-outline.svg" />
        </ion-button>
      </ion-buttons>
      {{title || 'Body Title'}}
      <ion-buttons slot="primary">
        <ion-button color="light" (click)="presentActionSheet()">
          <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-card class="profile">
      <ion-item lines="none">
        <ion-avatar>
          <!-- <img [src]="getImage()" /> -->
        </ion-avatar>
        <ion-label>
          <h4>Bishen Patel</h4>
          <p>patelzz007@gmail.com</p>
          <!-- <p>Log Terakhir: {{user.last_login | date:'medium'}}</p> -->
          <p>Log Terakhir: 10th August 2020</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
</div>

<div class="body">
  <ng-container *ngTemplateOutlet="bodyTpl || defaultValueTpl;"> </ng-container>
</div>

<ng-template #defaultValueTpl>
  <div class="ion-text-center empty">
    <ion-icon name="folder-open-outline"></ion-icon>
    <br />
    <ion-label>Insert Content</ion-label>
  </div>
</ng-template>